<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>phuctv.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>phuctv</string>
			</array>
		</dict>
	</array>
	<key>SUPABASE_URL</key>
	<string>$(INFOPLIST_KEY_SUPABASE_URL)</string>
	<key>SUPABASE_PUBLISHABLE_KEY</key>
	<string>$(INFOPLIST_KEY_SUPABASE_PUBLISHABLE_KEY)</string>
</dict>
</plist>
